*{
    padding: 0;
    margin: 0;
  }
  
  /* #5b7065, black */
  body {
    font-family: 'Shadows Into Light';
    min-height: 100vh;
    background: url("../b3.jpeg");
    min-height: 100vh;
    background-size: cover;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
  
  button {
    height: fit-content;
    cursor: pointer;
    color: #04202c;
    background-color: #c9d1c8;
  }
  
  .app {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color: rgb(160, 95, 95);
  }
  
  .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(177, 110, 110);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 10px 0px;
  }
  
  .to-do-input input {
    width: 250px;
    font-family: inherit;
    font-size: large;
    font-weight:bolder;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 14px;
    outline: none;
  }
  
  .to-do-input button {
    font-family: inherit;
    border: none;
    padding: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .to-do-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .to-do-list i {
    color: #71a869;
    cursor: pointer;
  }
  
  .to-do-list .fa-pen-to-square {
    color: #0b0c0b;
  }
  
  .to-do-list button {
    padding: 8px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    font-family: inherit;
    border: black;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap: 10px;
  }
  
  .input-controller textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
  
  textarea:focus {
    box-shadow: 0 0 5px white;
  }
  
  .edit-controller {
    display: flex;
    gap: 5px;
  }
  
  .update-controller {
    display: none;
  }
  
  @media(max-width: 768px) {
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20px;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 300px;
    }
  
  }